body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #a1c4fd, #c2e9fb);
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 90%;
    max-width: 900px;
    text-align: center;
}

h1 {
    margin-bottom: 5px;
    color: #2c3e50;
}

.tagline {
    margin-top: 0;
    font-size: 14px;
    color: #34495e;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 25px;
}

.weather-card {
    background: white;
    width: 230px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.weather-card:hover {
    transform: translateY(-8px);
}

.icon {
    width: 70px;
}

.temp {
    font-size: 28px;
    font-weight: bold;
    margin: 10px 0;
}

.btn {
    background: #6c5ce7;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #4834d4;
}

#detailsBox {
    margin-top: 25px;
    font-size: 18px;
    font-weight: bold;
    color: #2c2c54;
    opacity: 0;
    transition: 0.5s;
}
